.hero-slide img{
    height: 80vh;
}
.hero-slide .carousel-caption{
    height: 100%;
    display: flex   !important;
    flex-direction: column;
    justify-content: space-between;
    padding: 10vh 0 ;
}
.hero-slide .carousel-caption h1{
    background: #56555570;
    backdrop-filter: blur(10px);
    font-size: 3rem;
    font-weight: 700;
    color: #f3f0f0;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-slide .carousel-caption h2{
    background: #56555570;
    backdrop-filter: blur(10px);
    font-size: 1.5rem;
    font-weight: 700;
    color: #f7f1f1;
        height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
